Activity 1/ipt1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ipt1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="section2A">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded" minOccurs="4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:float" name="grade"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="section2B">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded" minOccurs="4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:float" name="grade"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="section2C">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded" minOccurs="4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:float" name="grade"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>